.overTwenty {
    background-color: #ff6161;
}
/* add table borders, etc. */
table, th, td {
    border: solid 1px black;
    padding: 8px;
}
table {
    border-collapse: collapse;
    text-align: left;

}
th {
    background-color: silver;;
}
tr:nth-of-type(2n) {
    background-color: lightgray;
}
h3 {
    text-align: right;
    padding: 10%;
}